<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-list"></span>
    Listing Contacts (Total of <%= @total_contacts %>)
  </h1>
</div>

<div class="table-responsive">
  <table id="contacts_table" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>National Phone</th>
        <th>International Phone</th>
        <th>Email</th>
        <th class="text-center">SMS Enabled?</th>
        <th class="text-center">SMS Blocklisted?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contact_lists.map do |contact, value|  %>
        <tr>
          <td><%= contact["full_name"] %></td>
          <td><%= contact["phone_mobile"] %></td>
          <td><%= contact["phone_mobile_national"] %></td>
          <td><%= contact["phone_mobile_international"] %></td>
          <td><%= contact["email"] %></td>
          <td class="text-center">
            <span class="glyphicon <%= contact["is_sms_enabled"] == true ? 'glyphicon-ok' : 'glyphicon-remove' %>"></span>
          </td>
          <td class="text-center">
            <span class="glyphicon <%= contact["is_sms_blacklisted"] == true ? 'glyphicon-ok' : 'glyphicon-remove' %>"></span>
          </td>
          <td>
            <button type="button" class="trigger_modal btn btn-info btn-sm" data-id="<%=contact["id"]%>" data-name="<%=contact["first_name"]%>">Send Message</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-right">
    <%= will_paginate @contact_lists, renderer: BootstrapPagination::Rails, remote: true %>
  </div>
</div>

<!-- Modal -->
<div id="sendMessageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">RECIPIENT: <b style="color: #46b8da;" class="text-uppercase" id="recipient_name"></b></h4>
      </div>
      <div class="modal-body" style="margin-bottom: 50px;">
        <p>Enter your message here:</p>
        <textarea class="form-control" rows="5" id="message" autofocus="true"></textarea>
        <br>
        <p id="notification" class="pull-left"></p>
        <button type="button" id="btn_send_message" class="btn btn-info btn-lg pull-right">SEND</button>
      </div>
    </div>
  </div>
</div>

<%=  content_for(:custom_scripts) do %>
  <%= javascript_include_tag 'users' %>
<% end %>
